beautifulsoup4
langchain
langchain_community
ollama
Flask
Flask-CORS
python-dotenv
numpy
langchain-ollama
pytesseract
pymongo
google-cloud-vision
faiss-cpu
sentence_transformers
google-cloud-storage
openai
asyncio
pymysql
bcrypt
PyJWT