gradio
beautifulsoup4
langchain
langchain_community
ollama
Flask
Flask-SocketIO
Flask-CORS
flask_restx
python-dotenv
numpy
scikit-learn
langchain-ollama
pytesseract
layoutparser
pymongo
google-cloud-vision
faiss-cpu
sentence_transformers
pyppeteer
google-cloud-storage
openai
asyncio